body {



}

#ape{
	position:absolute;
margin-left: 48.7%;
margin-right: 45%;
bottom:36%;


}
#blanket{
	position:absolute;
	
	background-color:white;
}
#he{
	position:absolute;
	
	
}